.about {
  &__head {
    text-align: center;
  }
  &__lead {
    text-align: center;
  }
  &__profile {
    margin: 11rem 0 13rem;
    padding: 6rem 10rem;
    @include over-ray-navy;
    @media #{$media-tabtate} {
      padding: 4rem 5rem 4rem 6rem;
    }
    @media #{$media-sp} {
      margin: 6rem 0 8rem;
      padding: 2rem 2rem 1rem;
    }
  }
  &Profile {
    &__head {
      font-size: 2.4rem;
      @media #{$media-sp} {
        p {
          margin: 0 auto;
          font-size: 2rem;
          text-align: center;
        }
      }
    }
    &__lit {
      margin: 0 3rem;
      @media #{$media-tabtate} {
        margin: 0 1.5rem;
      }
      @media #{$media-sp} {
        display: inline-block;
        margin: 0 1rem;
      }
    }
    &__eng {
      padding-top: 0.2rem;
    }
    &__image {
      margin-left: 2rem;
      border: 1px solid #fff;
      border-radius: 50%;
      width: 100%;
      max-width: 30.6rem;
      background-color: rgba(0, 0, 0, 0);
      @media #{$media-tabtate} {
        max-width: 20.6rem;
      }
      @media #{$media-sp} {
        margin: 2rem auto 0;
        width: 50vw;
        max-width: 100%;
        height: 50vw;
        text-align: center;
      }
    }
    &__table {
      margin-top: 2rem;
      @media #{$media-sp} {
        margin-top: 1rem;
      }
    }
    &__tr {
      display: block;
      margin: 1rem 0;
      @media #{$media-sp} {
        display: inline-block;
        margin: 0.5rem 0;
        width: 100%;
      }
    }
    &__th {
      width: 14rem;
      vertical-align :top;
      @media #{$media-tabtate} {
        width: 12rem;
      }
      @media #{$media-sp} {
        display: inline-block;
        width: 100%;
        font-size: 1.7rem;
        font-weight: 700;
      }
    }
  }
  /*
##     ##  #######  ########     ###    ##
###   ### ##     ## ##     ##   ## ##   ##
#### #### ##     ## ##     ##  ##   ##  ##
## ### ## ##     ## ##     ## ##     ## ##
##     ## ##     ## ##     ## ######### ##
##     ## ##     ## ##     ## ##     ## ##
##     ##  #######  ########  ##     ## ########
  */
  &__modal {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    transition-duration: 0.5s;
    &:not(.active) {
      //display: none;
      opacity: 0;
      pointer-events: none;
    }
  }
  &__close {
    position: fixed;
    top: calc(10vh - 6rem);
    right: 5%;
    z-index: 10005;
    width: 6rem;
    height: 6rem;
    font-size: 2.4rem;
    color: #fff;
    //background: $base;
    background-color: rgba(#040617, 0.6);
    &Icon {
    }
    @media #{$media-sp} {
      right: 0;
    }
  }
  &__bg {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10002;
    width: 100%;
    height: 100%;
    background-color: rgba(#040617, 0.6);
    background-position: center;
    background-size: cover;
    -webkit-overflow-scrolling: touch;
  }
  &__modalIn {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10003;
    height: 80vh;
    transform: translate(-50%, -50%);
    img {
      width: auto;
      max-height: 100%;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    @media #{$media-sp} {
      width: 100%;
      height: auto;
    }
  }

  /*
 ######     ###    ########  ######## ######## ########
##    ##   ## ##   ##     ## ##       ##       ##     ##
##        ##   ##  ##     ## ##       ##       ##     ##
##       ##     ## ########  ######   ######   ########
##       ######### ##   ##   ##       ##       ##   ##
##    ## ##     ## ##    ##  ##       ##       ##    ##
 ######  ##     ## ##     ## ######## ######## ##     ##
*/
  &__career {
    margin-bottom: 13rem;
    @media #{$media-sp} {
      margin-bottom: 6rem;
    }
  }
  &Career {
    position: relative;
    margin-top: 6rem;
    @media #{$media-sp} {
      margin-top: 3rem;
    }
    &__line {
      position: absolute;
      left: 7px;
      border-radius: 1000px;
      width: 2px;
      height: 100%;
      background-color: #fff;
      @media #{$media-sp} {
        left: 5.5px;
        width: 1.5px;
      }
    }
    &__table {
      margin-top: 2.6rem;
    }
    &__tr {
      margin-bottom: 5rem;
      &:last-child {
        margin-bottom: 0;
      }
      @media #{$media-sp} {
        margin-bottom: 3rem;
      }
    }
    &__dot {
      display: inline-block;
      margin-right: 4rem;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      background-color: #fff;
      @media #{$media-tabtate} {
        margin-right: 2rem;
      }
      @media #{$media-sp} {
        margin-right: 2rem;
        width: 12px;
        height: 12px;
      }
    }
    &__th {
      display: inline-block;
      margin-right: 2rem;
      width: 26rem;
      min-width: 26rem;
      font-size: 1.8rem;
      @media #{$media-tabtate} {
        margin-right: 1rem;
        width: 24rem;
        min-width: 24rem;
      }
      @media #{$media-sp} {
        width: auto;
        margin-right: 2rem;
        font-weight: 700;
      }
    }
    &__td {
      &--head {
        margin-bottom: 1.2rem;
        font-size: 2rem;
        font-weight: 700;
        @media #{$media-sp} {
          margin-bottom: 0.5rem;
          font-size: 1.8rem;
        }
      }
      &--txt {
        font-size: 1.5rem;
        opacity: 0.6;
      }
      @media #{$media-sp} {
        margin-left: 3.6rem;
      }
    }
    &__imageline {
      margin-top: 2rem;
      @media #{$media-sp} {
        margin-left: 3.6rem;
      }
    }
  }
  /*
 ######  ##    ## #### ##       ##
##    ## ##   ##   ##  ##       ##
##       ##  ##    ##  ##       ##
 ######  #####     ##  ##       ##
      ## ##  ##    ##  ##       ##
##    ## ##   ##   ##  ##       ##
 ######  ##    ## #### ######## ########
  */
  &__skills {
    margin-bottom: 13rem;
    @media #{$media-sp} {
      margin-bottom: 6rem;
    }
  }
  &Skills {
    margin-top: 3rem;
    @media #{$media-notfull} {
      justify-content: space-around !important;
    }
    @media #{$media-sp} {
      margin-top: 1rem;
    }
    &Introduction {
      padding: 4rem;
      border: 2px solid $pale-white;
      border-radius: 10px;
      &__head {
        margin-bottom: 2rem;
        font-size: 2rem;
        font-weight: 500;
      }
      &__dot {
        margin-right: 1rem;
      }
    }
    &__para {
      display: inline-block;
      margin-right: 4rem;
      &:last-child {
        margin-right: 0;
      }
    }
    &Map {
      display: inline-block;
      margin-top: 5rem;
      @media #{$media-sp} {
        margin-top: 2rem;
      }
      &__circle {
        position: relative;
        margin: 0 1rem;
        border: 2px solid rgba(#fff, 0.3);
        border-radius: 1000px;
        width: 15rem;
        min-width: 15rem;
        height: 15rem;
        text-align: center;
        background-color: rgba(#fff, 0.7);
        @media #{$media-sp} {
          margin: 0;
          width: 28vw;
          min-width: 10rem;
          height: 28vw;
        }
      }
      &__inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &__icon {
        margin-bottom: 1rem;
        width: 5rem;
        height: auto;
        @media #{$media-sp} {
          margin-bottom: 0.5rem;
          width: 10vw;
        }
      }
      &__head {
        font-size: 1.6rem;
        font-weight: 500;
        color: $siteColor;
        text-align: center;
        @media #{$media-sp} {
          font-size: 1.4rem;
        }
      }
      &__gragh {
        width: 100%;
      }
      &__dot {
        // margin: 0 1rem;
        &:first-child {
          //margin: 0 1rem 0 0;
        }
        &:last-child {
          //margin: 0 0 0 1rem;
        }
        &--normal {
          display: inline-block;
          margin: 0 2.4rem;
          //background-color: #fff;
          border: 2px solid rgba(#fff, 0.5);
          border-radius: 1000px;
          width: 2.7rem;
          min-width: 2.7rem;
          height: 2.7rem;
          &:not(:first-child) {
          }
        }
        &--mark {
          margin: 0 1rem;
          font-size: 6rem;
        }
      }
      &__line {
        width: 100%;
        height: 1px;
        //min-width: 100%;
        background-color: rgba(#fff, 0.5);
      }
    }
  }
  /*
########  ##     ## #### ##        #######   ######   #######  ########  ##     ## ##    ##
##     ## ##     ##  ##  ##       ##     ## ##    ## ##     ## ##     ## ##     ##  ##  ##
##     ## ##     ##  ##  ##       ##     ## ##       ##     ## ##     ## ##     ##   ####
########  #########  ##  ##       ##     ##  ######  ##     ## ########  #########    ##
##        ##     ##  ##  ##       ##     ##       ## ##     ## ##        ##     ##    ##
##        ##     ##  ##  ##       ##     ## ##    ## ##     ## ##        ##     ##    ##
##        ##     ## #### ########  #######   ######   #######  ##        ##     ##    ##
  */
  &__philosophy {
  }
  &Philosophy {
    &__box {
      @include over-ray-navy;
      position: relative;
      margin-top: 6rem;
      padding: 6rem 4rem;
      @media #{$media-sp} {
        position: inherit;
        padding: 3rem 3rem 1rem;
        margin-top: 3rem;
      }
    }
    &__top {
      position: absolute;
      top: 4rem;
      left: 50%;
      width: calc(100% - 8rem);
      transform: translateX(-50%);
      @media #{$media-notfull} {
        width: calc(100% - 6rem);
      }
      @media #{$media-sp} {
        position: inherit;
        left: inherit;
        width: 100%;
        transform: inherit;
      }
    }
    &__bottom {
      position: absolute;
      bottom: 4rem;
      left: 50%;
      width: calc(100% - 8rem);
      transform: translateX(-50%);
      @media #{$media-notfull} {
        width: calc(100% - 6rem);
      }
      @media #{$media-sp} {
        position: inherit;
        bottom: 0;
        left: inherit;
        width: 100%;
        transform: inherit;
      }
    }
    &__point {
      width: 25%;
      &--right {
        text-align: right;
        @media #{$media-sp} {
          text-align: left;
        }
      }
      @media #{$media-notfull} {
        width: 30%;
      }
      @media #{$media-sp} {
        margin-bottom: 2rem;
        width: 100%;
      }
    }
    &__title {
      position: relative;
      margin-bottom: 3rem;
      font-size: 2rem;
      font-weight: 700;
      &::after {
        position: absolute;
        bottom: -1.5rem;
        left: 0;
        width: 3rem;
        height: 3px;
        background-color: #fff;
        content: "";
      }
      &--right {
        &::after {
          right: 0;
          left: inherit;
          @media #{$media-sp} {
            right: auto;
            left: 0;
          }
        }
      }
      @media #{$media-notfull} {
        margin-bottom: 2.6rem;
        font-size: 1.8rem;
        font-weight: 700;
        &::after {
          bottom: -1.3rem;
        }
      }
      @media #{$media-sp} {
        font-size: 1.8rem;
      }
    }
    &__int {
      font-size: 1.5rem;
      line-height: 2em;
      opacity: 0.6;
      @media #{$media-notfull} {
        font-size: 1.4rem;
        line-height: 1.7em;
      }
    }
    &__image {
      margin: 0 auto;
      width: 50%;
      height: auto;
      @media #{$media-notfull} {
        margin: 6rem auto;
        width: 40%;
        height: auto;
      }
      @media #{$media-sp} {
        margin: 0 auto 2rem;
        width: 100%;
        height: auto;
      }
    }
  }
  /*
 ######   #######  ##    ##  ######  ######## ########  ########
##    ## ##     ## ###   ## ##    ## ##       ##     ##    ##
##       ##     ## ####  ## ##       ##       ##     ##    ##
##       ##     ## ## ## ## ##       ######   ########     ##
##       ##     ## ##  #### ##       ##       ##           ##
##    ## ##     ## ##   ### ##    ## ##       ##           ##
 ######   #######  ##    ##  ######  ######## ##           ##
  */
  &__concept {
    margin-top: 12rem;
    @media #{$media-sp} {
      margin-top: 6rem;
    }
  }
  &Concept {
    &__txt {
      margin-top: 4rem;
      line-height: 2em;
      text-align: center;
      @media #{$media-sp} {
        margin-top: 3rem;
        text-align: left;
      }
    }
  }
  &__contact {
    margin-top: 26rem;
    @media #{$media-sp} {
      margin-top: 10rem;
    }
  }
}
