.commonContact {
  margin: 10rem 0;
  padding: 6rem 6rem 10rem;
  text-align: center;
  @include over-ray-navy;
  @media #{$media-sp} {
    margin: 8rem 1rem 0;
  }
  &__head {
    //margin-bottom: 4rem;
  }
  &__txt {
    margin-bottom: 4rem;
  }
  &__link {
    margin: 0 auto;
  }
}
