.singleWorks {
  &__h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-top: 5rem;
  }
  &__tag-area {
    margin-top: 2rem;
  }
  &__tag {
    display: inline-block;
    padding: 0.6rem 1rem;
    border: 1px solid rgba(#fff, 0.3);
    border-radius: 1000px;
    font-size: 1.4rem;
  }
  &__lead {
    margin-top: 3rem;
    font-weight: 500;
    line-height: 2em;
  }
  &__h2 {
    margin-top: 6rem;
    font-size: 2rem;
    padding-bottom: 1.5rem;
    border-bottom: solid 2px rgba(#fff, 0.3);
  }
  &__img-area {
    margin-top: 2rem;
  }
  &__image {
    &-pc {
      width: 59rem;
      height: 29.4rem;
      overflow: hidden;
      @media #{$media-notfull} {
        width: 100%;
        height: 46.8vw;
      }
    }
    &-sp {
      width: 32.5%;
      height: 60rem;
      overflow: hidden;
      @media #{$media-notfull} {
        height: 48.8vw;
      }
    }
  }
  &__img {
    width: 100%;
  }
  &__point {
    margin: 7rem 0 27rem;
    padding: 5rem 5rem 3rem;
    @include over-ray-navy;
  }
  &Point {
    &__sec {
      margin-bottom: 3rem;
      padding-bottom: 3rem;
      border-bottom: solid 2px rgba(#fff, 0.3);
      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
    &__txt {
      margin-right: 2rem;
    }
  }
  &__h3 {
    margin-bottom: 5rem;
  }
}
