.works {
  &__main {
    margin: 5rem auto 1.1rem;
  }
  &__head {
    text-align: center;
  }
  &__lead {
    margin: 0 auto 4rem;
    text-align: center;
  }
  &__item {
    margin-bottom: 3rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__search {
    @include main-border;
    border-radius: 1rem;
    padding: 2.5rem;
    margin: 10rem 0 8.4rem;
  }
  .search {
    &__ttl {
      text-align: center;
    }
    &__down {
      margin-left: 1rem;
    }
  }
  .worksItem {
    display: inline-block;
    width: 100%;
    max-width: 36rem;
    background-color: #fff;
    &__thumb {
      position: relative;
    }
    &__cat {
      position: absolute;
      top: 0;
      left: 0;
      background-color: #040617;
      padding: 0.6rem 1rem;
    }
    &__txt-area {
      padding: 1.5rem 1rem;
      color: #040617;
    }
    &__tag {
      display: inline-block;
      border-radius: 1000px;
      font-size: 1.1rem;
      padding: 0.4rem 1rem;
      border: 1px solid rgba(#040617, 0.3);
      margin-bottom: 1rem;
    }
    &__ttl {
      font-size: 1.8rem;
      font-weight: 700;
    }
  }
}
