.works {
  &__main {
    margin: 5rem auto 1.1rem;
  }
  &__head {
    text-align: center;
  }
  &__lead {
    margin: 0 auto 4rem;
    text-align: center;
  }
  &__list {
    margin-bottom: 20rem;
    &::after,
    ::before {
      width: 100%;
      max-width: 36rem;
      height: 0;
      content: "";
    }
    @media #{$media-sp} {
      margin-bottom: 0rem;
    }
  }
  &__item {
    margin-bottom: 3rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__search {
    @include main-border;
    @include over-ray-navy;
    margin: 10rem 0 8.4rem;
    padding: 2.5rem 4rem;
    border-radius: 1rem;
  }
  .search {
    &__ttl {
      text-align: center;
      cursor: pointer;
    }
    &__down {
      margin-left: 1rem;
    }
  }
  .worksItem {
    display: inline-block;
    position: relative;
    margin-bottom: 6rem;
    border-radius: 8px;
    width: 32%;
    max-width: 36rem;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 0px 40px rgba($yellow, 0.25);
    &:hover {
      opacity: 0.8;
    }
    &__thumb {
      position: relative;
      image {
        position: absolute;
        top: 0;
        width: 100%;
        height: auto;
      }
    }
    &__cat {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0.6rem 1rem;
      background-color: #040617;
      z-index: 5;
    }
    &__txt-area {
      padding: 1.5rem;
      color: #040617;
    }
    &__tag {
      display: inline-block;
      margin-bottom: 1rem;
      padding: 0.4rem 1rem;
      border: 1px solid rgba(#040617, 0.3);
      border-radius: 1000px;
      font-size: 1.1rem;
    }
    &__ttl {
      font-size: 1.8rem;
      font-weight: 700;
    }
  }
  // ↓SPの幅
  @media #{$media-sp} {
    &__main {
      margin: 2rem auto 1.1rem;
    }
    &__lead {
      margin: 1rem auto 2rem;
      font-size: 1.2rem;
    }
    &__list {
      &::after,
      ::before {
        width: 100%;
        max-width: 36rem;
        height: 0;
        content: "";
      }
    }
    &__item {
      margin-bottom: 3rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__search {
      @include main-border;
      margin: 4rem 0;
      padding: 1.5rem;
    }
    .search {
      &__ttl {
        font-size: 1.4rem;
      }
      &__down {
        margin-left: 1rem;
      }
    }
    .worksItem {
      margin: 0 auto 4rem;
      width: 100%;
      max-width: inherit;
      //background-color: #fff;
      //box-shadow: 0px 0px 40px rgba($yellow, 0.25);
      &__img {
        //width: fit-content;
        //height: 50%;
      }
      &__cat {
        display: inline;
        position: absolute;
        top: 0;
        z-index: 3;
        padding: 0.3rem 1rem;
        font-size: 1.3rem;
      }
      &__txt-area {
        padding: 1rem;
        color: #040617;
      }
      &__tag {
        margin-bottom: 0.5rem;
        padding: 0.2rem 1rem;
      }
      &__ttl {
        margin-right: 1rem;
        font-size: 1.8rem;
        font-weight: 700;
      }
    }
  }
  /*
##    ##    ###    ########  ########   #######  ##      ##
###   ##   ## ##   ##     ## ##     ## ##     ## ##  ##  ##
####  ##  ##   ##  ##     ## ##     ## ##     ## ##  ##  ##
## ## ## ##     ## ########  ########  ##     ## ##  ##  ##
##  #### ######### ##   ##   ##   ##   ##     ## ##  ##  ##
##   ### ##     ## ##    ##  ##    ##  ##     ## ##  ##  ##
##    ## ##     ## ##     ## ##     ##  #######   ###  ###
*/
  &SelectBlock {
    &__searchResult {
      margin-top: 2rem;
      padding-top: 2rem;
      border-top: 2px solid rgba(#ffffff, 0.2);
    }
    &__wrapper {
      padding-bottom: 2rem;
    }
    input {
      display: none;
    }
    &__selectBlock label {
      display: inline;
    }
    &__check label .el_checkbox {
      display: inline-block;
      position: relative;
      top: 3px;
      margin-right: 5px;
      border: 1px solid $siteColor;
      width: 2rem;
      height: 2rem;
      background-color: #fff;
    }
    &__check label {
      font-size: 1.5rem;
      line-height: 2rem;
      cursor: pointer;
      .el_checkbox:after {
        position: absolute;
        top: 3px;
        right: 3px;
        bottom: 3px;
        left: 3px;
        content: "";
      }
    }
    &__check input[type="checkbox"]:checked + label .el_checkbox:after {
      background-color: #a61165;
    }
    &__ttl {
      display: inline-block;
      margin: 2rem 0 1rem;
      padding-left: 1rem;
      border-left: solid 0.5rem rgba(#fff, 0.7);
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.2em;
      color: rgba(#fff, 0.7);
    }
    &__check {
      display: inline-block;
      margin-right: 2.5rem;
      margin-bottom: 1rem;
    }
    &__check:last-child {
      margin-right: 0;
    }
    &__release {
      position: relative;
      margin: 2rem auto 1rem;
      font-size: 1.3rem;
      text-align: center;
      i {
        position: absolute;
        top: 50%;
        right: 2rem;
        font-size: 1.3rem;
        transform: translateY(-50%);
      }
    }
    .js_release {
      cursor: pointer;
    }
  }
  .js_target {
    display: none;
    transition-duration: 1s;
  }
  .js_target.js_selected {
    display: block;
    transition-duration: 1s;
  }
}
