.footer {
  background-color: $siteColor;
  padding: 4rem 0;
  &Logo {
    &__img {
      width: 10.9rem;
      margin-right: 2rem;
    }
    &__text {
      color: #fff;
      font-size: 1.2rem;
    }
    &Link {
      &__link {
        color: #fff;
      }
    }
  }
  &Link {
    &__item {
      margin-right: 4rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
