.footer {
  padding: 4rem 0;
  background-color: $siteColor;
  &Logo {
    &__img {
      margin-right: 2rem;
      width: 10.9rem;
    }
    &__text {
      font-size: 1.2rem;
      color: #fff;
    }
    &Link {
      &__link {
        color: #fff;
      }
    }
    @media #{$media-sp} {
      &__img {
        margin-right: 2rem;
        width: 7rem;
      }
      &__text {
        font-size: 1rem;
        color: #fff;
      }
    }
  }
  &Link {
    &__item {
      margin-right: 4rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
