// ヘッダーの高さ
$headerPC: 10rem;
$headerSP: 6rem;

/*
########     ###    ########
##     ##   ## ##   ##     ##
########  ##     ## ##     ##
##        ######### ##     ##
##        ##     ## ########
*/
// 追従ヘッダー用の余白
.headerPad {
  padding-top: 6rem;
  // ↓SP相当幅
  @media #{$media-sp} {
    padding-top: $headerSP;
  }
  // ↑SP相当幅
}

/*
##     ## ########    ###    ########  ######## ########
##     ## ##        ##   ##  ##     ## ##       ##     ##
######### ######   ##     ## ##     ## ######   ########
##     ## ##       ######### ##     ## ##       ##   ##
##     ## ######## ##     ## ########  ######## ##     ##
*/
.header {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  white-space: nowrap;
  //box-shadow: 0 0 10px rgba(#000, 0.1);
  &__frame {
    padding: 0 0 0 2rem;
    //background: #000;
    @media #{$media-sp} {
      background: $siteColor;
    }
  }
  &__base {
  }
  &__mailform {
    font-size: 3.2rem;
    color: #fff;
  }
  /*
               ######  ########
              ##       ##     ##
      #######  ######  ########
                    ## ##
               ######  ##
  */
  // ↓sp相当幅
  @media #{$media-sp} {
    max-height: 100%;
    overflow: auto;
    &__frame {
      padding: 0 0 0 $pad;
    }
    &__base {
    }
  }
  // ↑SP相当幅
}

/*
##        #######   ######    #######
##       ##     ## ##        ##     ##
##       ##     ## ##   #### ##     ##
##       ##     ## ##    ##  ##     ##
########  #######   ######    #######
*/
.headerLogo {
  margin-top: 1.5rem;
  &__img {
    display: block;
    width: auto;
    height: 5rem;
  }
  &__text {
    margin-left: 2rem;
    font-size: 1rem;
    line-height: 1.7em;
  }

  // ↓ SP相当幅
  @media #{$media-sp} {
    margin-top: 0;
    &__img {
      max-width: 6rem;
      height: auto;
    }
    &__text {
      margin-left: 1rem;
      font-size: 1rem;
      line-height: 1.7em;
    }
  }
  // ↑ SP相当幅
}

/*
 ########  ##     ## ##       ##       ########   #######  ##      ## ##    ##
 ##     ## ##     ## ##       ##       ##     ## ##     ## ##  ##  ## ####  ##
 ########  ##     ## ##       ##       ##     ## ##     ## ##  ##  ## ## ## ##
 ##        ##     ## ##       ##       ##     ## ##     ## ##  ##  ## ##  ####
 ##         #######  ######## ######## ########   #######   ###  ###  ##    ##
*/
// プルダウンメニュー
.headerPulldown {
  &__head {
    padding: 1rem 2.5rem;
    height: $headerPC;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    transition-duration: 0.5s;
    cursor: pointer;
  }
  &__body {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    padding: 3.5rem 0;
    width: 100%;
    background: #f00;
    opacity: 0;
    transition-duration: 0.5s;
    transform: rotateX(90deg);
    transform-origin: 0 0;
  }

  &:hover {
    .headerPulldown {
      &__head {
        &::before {
          transform: none;
        }
      }
      &__body {
        opacity: 1;
        transform: rotateX(0);
      }
    }
  }
}

/*
 ######           ##    ##    ###    ##     ##
##                ####  ##  ##   ##  ##     ##
##   #### ####### ## ## ## ##     ## ##     ##
##    ##          ##  #### #########  ##   ##
 ######           ##    ## ##     ##    ###
*/

/*
        ########  ######## ##    ##
        ##     ##    ##    ####  ##
####### ########     ##    ## ## ##
        ##     ##    ##    ##  ####
        ########     ##    ##    ##
*/
// グローバルナビ
.gNavBtn {
  display: inline-block;
  position: fixed;
  position: relative;
  top: 0;
  right: 0;
  z-index: 10000;
  border: 0;
  vertical-align: middle;
  background: $siteColor;
  cursor: pointer;
  $btnSize: $headerSP; //ボタン一辺の長さ
  width: $btnSize;
  height: $btnSize;
  $bar: 2px; //バーの太さ
  $posX: 1.5rem; //バーの左右の余白
  $posY: 1.75rem; //1,3本目のバーの上下の余白
  $barRadius: 0; //バーの角丸
  $barOffBG: #fff; //バーの背景OFF時
  $barOnBG: #fff; //バーの背景ON時
  $time: 0.5s; //アニメ時間　0.1s以上
  @media #{$media-sp} {
    background: none;
  }
  &__box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__bar {
    display: block;
    position: absolute;
    left: $posX;
    z-index: 100000;
    border-radius: $barRadius;
    width: calc(100% - #{$posX} * 2);
    height: $bar;
    background: $barOffBG;
    transition-duration: $time;
    transform-origin: 50% 50%;
    &:nth-of-type(1) {
      top: $posY;
    }
    &:nth-of-type(2) {
      top: 50%;
      margin-top: $bar / -2;
    }
    &:nth-of-type(3) {
      bottom: $posY;
    }
  }
  &.active {
    .gNavBtn {
      z-index: 10050;
      &__bar {
        background: $barOnBG;
        &:nth-of-type(1) {
          top: 50%;
          margin-top: $bar / -2;
          transition: top $time, margin $time, transform $time ease $time;
          transform: rotate(-45deg);
        }
        &:nth-of-type(2) {
          opacity: 0;
          transition-delay: $time - 0.1s;
          transform: rotateY(90deg);
        }
        &:nth-of-type(3) {
          bottom: 50%;
          margin-bottom: $bar / -2;
          transition: bottom $time, margin $time, transform $time ease $time;
          transform: rotate(45deg);
        }
      }
    }
  }
}
/*
        ##    ##    ###    ##     ##
        ####  ##  ##   ##  ##     ##
####### ## ## ## ##     ## ##     ##
        ##  #### #########  ##   ##
        ##    ## ##     ##    ###
*/
.gNav {
  position: fixed;
  //top: $headerSP;
  right: 0;
  z-index: 1000;
  //Spadding-top: 1rem;
  width: 20%;
  height: 100vh;
  //max-height: calc(100% - #{$headerSP});
  overflow-y: auto;
  //background: #00f;
  background-image: url(../img/gnav_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 0.5s;
  transform-origin: 100% 100%;
  &::after {
    // 下の余白用疑似要素
    display: block;
    height: 0;
    content: "";
  }
  @media #{$media-notfull} {
    width: 30%;
  }
  // ↓SP以外の幅
  @media #{$media-notsp} {
    top: 0;
  }
  // ↑SP以外の幅
  @media #{$media-sp} {
    top: 0;
    width: 100%;
  }
  &:not(.active) {
    transform: rotateY(-90deg);
    visibility: hidden;
  }
  &__menu {
  }
  &__close {
    text-align: right;
  }
  &__item {
    position: relative;
    padding: 1rem 5rem;
    font-weight: 500;
    color: #fff;
    //background: #00f;
    &--sub {
      &::before {
        top: 50%;
        margin-right: 1rem;
        width: 1.5rem;
        height: 1px;
        background-color: #fff;
        content: "";
      }
    }
    @media #{$media-sp} {
      padding: 1rem 3rem;
      font-size: 1.8rem;
    }
  }
  &__icon {
    position: relative;
    top: 50%;
    z-index: 2;
    //right: 2rem;
    margin-left: 1.5rem;
    font-size: 1rem;
    transition-duration: 0.3s;
    .acc-check:checked ~ .acc-btn & {
      transform: translate(0%, -50%) rotate(180deg);
      transform: rotate(180deg);
    }
    &--tab {
      padding-top: 0.2rem;
      font-size: 1.4rem;
      color: #fff;
    }
  }
  &__contact {
    padding: 3rem $pad;
  }
  &__btn {
    &--mail {
      height: 6rem;
    }
  }
}
